
{% load static %}
{% block content %}
{% include 'staff/menu.html' %}



            <!-- Form Start -->
			
			
			         <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="col-sm-12 col-xl-6">
                        <div class=" rounded h-100 p-4">
                            <h6 class="mb-4"></h6>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Train Name</th>
                                        <th scope="col">Start station</th>
                                        <th scope="col">End Station</th>
										<th scope="col">Distance</th>
                                        <th scope="col">Rate</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in res2 %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.trainname}}</td>
                                        <td>{{i.startstation}}</td>
                                        <td>{{i.endstation}}</td>
										<td>{{i.distance}}</td>
                                        <td>{{i.rate}}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <br>
                    <div class="col-sm-12 col-xl-8">
                        <div class="bg-light rounded h-100 p-4">
                            <h1 class="mb-4">Ticket Form</h1>
                            <form method="post" action="addticket" enctype="multipart/form-data">
{% csrf_token %}
        {{form.as_p}}
                                <div class="row mb-3">
                                    <label for="inputCid" class="col-sm-4 col-form-label">Customer Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="customerid" value="{{res.customerid}}" readonly id="inputCid">
                                    </div>
                                </div>
                                 <div class="row mb-3">
                                    <label for="inputComSub" class="col-sm-4 col-form-label">Start station</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="startstation" value="{{res.startstation}}" readonly  id="inputComSub">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputDes" class="col-sm-4 col-form-label">Endstation</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="endstation" value="{{res.endstation}}" readonly id="inputDes">
                                    </div>
                                </div>
								    <div class="row mb-3">
                                    <label for="inputDes" class="col-sm-4 col-form-label">Date</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="date" value="{{res.date}}" readonly id="inputDes">
                                    </div>
                                </div>
								 <div class="row mb-3">
                                    <label for="inputDes" class="col-sm-4 col-form-label">Train No</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="trainno"  id="inputDes">
                                    </div>
                                </div>
								 <div class="row mb-3">
                                    <label for="inputDes" class="col-sm-4 col-form-label">Distance</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="distance"  id="inputDes">
                                    </div>
                                </div>
								 <div class="row mb-3">
                                    <label for="inputDes" class="col-sm-4 col-form-label">Rate</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="rate"  id="inputDes">
                                    </div>
                                </div>
								 <div class="row mb-3">
                                    <label for="inputDes" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input type="hidden" class="form-control" name="sid" value="{{result}}" id="inputDes">
                                    </div>
                                </div>
								 <div class="row mb-3">
                                    <label for="inputDes" class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <input type="hidden" class="form-control" name="status" value="pending" id="inputDes">
                                    </div>
                                </div>
                                <!--  <div class="row mb-3">
                                    <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="password" id="inputPassword">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputPhoneNumber" class="col-sm-4 col-form-label">PhoneNo</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="phonenumber" id="inputPhoneNumber">
                                    </div>
                                </div>
                                 <div class="row mb-3">
                                    <label for="inputImage" class="col-sm-2 col-form-label">Image</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" name="image" id="inputImage">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputDesignation" class="col-sm-2 col-form-label">Designation</label>
                                    <div class="col-sm-10">
                                       &nbsp; <input type="text" class="form-control" name="designation" id="inputDesignation">
                                    </div>
                                </div>
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <select class="form-control" name="gender">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>-->
                                <input type="submit" class="btn btn-primary" value="Submit" name="submit">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Form End -->
            <br>
            <br>
            <br>
            <br><br><br><br><br>
            <br>
            <br>

































            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-8 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-8 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </br>
                        Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
         </div>
            <!-- Footer End -->
        </div>
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'admin/lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'admin/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'admin/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'admin/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'admin/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'admin/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'admin/js/main.js' %}"></script>

{% endblock %}
</body>

</html>